@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@font-face {
  font-family: 'Lovelo';
  font-style: normal;
  font-weight: 900;
  src: local('Lovelo'), url('https://fonts.cdnfonts.com/s/18519/Lovelo-Black.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Oswald:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  /* background-color: black; */
  
}



body {
  box-sizing: border-box;
  background-color: black;
  /* height: 100vh; */
  width: 100%;
  color: whitesmoke;
  overflow:auto;
  /* background-size: cover; */
  /* background-position: center; */
  /* object-position: center; */
  /* text-align: center; */

  /* padding-top: 158px; */
}

h1, h2{
  font-family: 'Oswald';
  font-weight: 900;
  font-size: 30px;
  font-style: normal;
}

.footer{
  font-family: "Noto Serif", sans-serif;
}


